/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v29-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* revalia-regular - latin */
@font-face {
    font-family: 'Revalia';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/revalia-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/revalia-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html {
      box-sizing: border-box;

  }

  *, *::before, *::after{
    box-sizing: inherit;

  }

  body {
      font-family: Roboto;
      font-style: normal;
      font-size: 16px;
      line-height: 1.2;
      font-weight: normal;
      color: #000000;
  }

  li {
    list-style-type: none; 
   }

   @media only screen and (min-device-width : 280px) and (max-device-width : 1279px) {
       body {
           width: 100%;
       }
   }


  .wrapper {
    max-width: 1150px;
    margin: 0 auto;
  }

  .header{
    width: 100%;
    background: #EEEFF1;
  }

  .header_logo-pic{
      color: #34547A;
  }
  
  .header_wrapper{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-top: 57px;
  }
  .header_list {
      display: flex;
      flex-wrap: wrap;

  }

  .header_item {
      margin-right: 42px;
  }

  .header_item:last-child {
      margin-right: 0;
  }

  .header_link1{
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: #34547A;
}

.header_link{
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    text-decoration: none
}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: .75;
}

.header_link1:hover, .header_link1:focus, .header_link1:active{
    opacity: .75;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 1279px) {
    .header_wrapper {
        display: block;
        padding-left: 20px;
    }
    .header_nav {
        display: none;
    }
}


.intro{
    display: flex;
    justify-content: center;
    background: #EEEFF1;

}


.wrapper_intro {
    background: #EEEFF1;
    display: flex;
    flex-wrap: wrap;
    padding-top: 140px;
    align-items: center;
    justify-content: center;
    padding-bottom: 95px;

    
}



.intro_comp-pic {
    margin-right: 140px;
    margin-bottom: 50px;
} 

.intro_title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    margin-bottom: 60px;
    
    color: #000000;

} 


.intro_subtitle {
    max-width: 540px;
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-bottom: 60px;
} 

 .btn {
    width: 225px;
    height: 65px;
    background: #34547A;
    color: white;
    border: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FFFFFF;

} 

@media only screen and (min-device-width : 320px) and (max-device-width : 1279px) {

    .wrapper_intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 67px;
    }

    .intro {

        padding: 0 25px;
    }


    .intro_title {
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        color: #000000;
    }
    .intro_subtitle {
        font-size: 16px;
        text-align: center;
    }

    .intro_comp-pic {
        margin: 0;
        padding-bottom: 50px;
    }

    .intro_comp{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    /* .wrapper-text {
        display: flex;
        justify-content: center;
        align-items: center;
    } */

}

/* ============================================= */
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 100px;
}

.info_me {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    
    color: #000000;
    padding-bottom: 50px;
}

.info_subtitle {
    max-width: 540px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 1279px) {
    .info {
        text-align: center;
        padding: 100px 25px;
    }
}
/* ====================================== */
.info_project-block {
    display: flex;
    align-items: center;
    margin-right: 50px;
    width: 140px;
}

.project_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    background: #34547A;
    padding-bottom: 90px;

}

.wrapper_project {
    margin-left: 20px;
}

.project_logo {
    width: max-content;
    color: white;
}

.number_project {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    
    color: #FFFFFF;
}

.number_project2 {
    font-size: 16px;
    line-height: 26px;

    color: #FFFFFF;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1279px) {
    .info_project-block {
        align-items: center;
        margin:  15px;
    }
}
/* ======================================== */

.skill{
    padding-top: 150px;

}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
    margin-bottom: 100px;

}

.my_photo{
    display: flex;;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 555px;
}

.info_my-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.wrapper_info-skill {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    flex-direction: row-reverse;
    justify-content: center;
    padding-bottom: 100px;
}

.my_skill-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

.skill_bar {
    max-width: 445px;
}

.skill_bar .bar {
    margin: 54px 0;
    
}

.skill_bar .bar:first-child {
    /* margin-top: 50px; */
    padding-top: 50px;
}

.skill_bar .bar .skill_info {
    padding-bottom: 20px;
}

.skill_bar .bar .skill_info span{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.skill_bar .bar .rectangle {
    position: relative;
    width: 445px;
    height: 4px;
    background: #C4C4C4;
}

.bar .rectangle span{
    width: 80%;
    height: 100%;
    background: #34547A;
    position: absolute;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1279px) {
    
    .skill {
        margin: 0;
        padding: 0;
    }

    .wrapper_info-skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 25px;
        margin: 0;
    }
    
    .skill_bar .bar  .rectangle {
        align-items: center;
    }

    .my_photo {
        width: 100%;
        margin: 0;
    }
    .avatar {
        width: 100%;
        padding:80px 0 100px 0;
        margin: 0;

    }
    .skill_bar .bar .rectangle {
        margin: 0;
        padding: 0;

    }
    .skill_bar{
        width: 100%;
    }
    .info_my-skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    

    

    
    .skill_bar .bar .skill_info span{
        font-size: 16px;
        line-height: 26px;
        color: #727272;
    }
    
    .skill_bar .bar .rectangle {
        position: relative;
        width: 95%;
        height: 4px;
        background: #C4C4C4;
    }
    
    .bar .rectangle span{
        width: 80%;
        height: 100%;
        background: #34547A;
        position: absolute;
    }

}
/* ==================================================== */



.info_work {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #EEEFF1;
    padding-bottom: 100px;

}

.wrapper_work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-work {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;

    color: #000000;
    padding-top: 100px;

}

.how_work-subtitle {
    max-width: 540px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    padding-top: 50px;
    padding-bottom: 57px;
}

.video_work {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;


}

.my_video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay_video {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

.video_work:hover .overlay_video {
    opacity: 1;
}

.my_play {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background: black;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1279px) {
    .wrapper_work {
        text-align: center;
        padding: 0 25px;
    }

    .video_work {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
    }
    .how_work-subtitle {
        padding-bottom: 57px;

    }
}
/* ======================================= */

.places_cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    margin-bottom: 30px;

}

.places_card {
    position: relative;
    background: #34547A 80%;


}

.places_card-pic {
    display: block;
    width: 100%;
    height: auto;
}


.places_cards:hover .overlay_picture {
    opacity: 0;
}

.my_eye {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


 
.overlay_picture {
    opacity: 0;
    transition: .3s ease;
} 

.places_card:hover .places_card-pic {
    opacity: 0.3;


}

.places_card:hover .overlay_picture {
    opacity: 1;

} 

.places_card-size {
    grid-column: span 1;

}
@media only screen and (min-device-width : 320px) and (max-device-width : 1279px) {
    .places_cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .places_card:nth-child(6) {
        display: grid;
        grid-column: 1;
        grid-row: 3; 
    }
    .places_card:nth-child(3) {
        display: grid;
        grid-column: 2;
        grid-row: 2;
    }
}
/* ================================ */

.web_cite {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #EEEFF1;
    padding-top: 100px;
    padding-bottom: 100px;
}


.web_cite h2 {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

.web_subtitle {
    max-width: 540px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 65px;
}

/* .web_form {
    width: 540px;
} */

.web_form input,
.web_form textarea {
    width: 100%;
    border: none;
    padding: 17px 20px;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
}
.web_form textarea{
    resize: none;
}


.web_row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.web_row > .web_group {
    width: 48%;
    margin-bottom: 30px;
}

.btn_foot {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1279px){
    .web_cite-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 0 25px;
    }
    .web_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }
    .web_row{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .web_row > .web_group {
        width: 100%;
    }



    .web_group {
        width: 100%;
    }
    #textarea {
        width: 100%;
        height: 300px;
    }

}

/* ================================ */

.footer_wrapper {
    background-color: #34547A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.info_log {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
}

.footer_name {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer_log {
    font-size: 13px;
    line-height: 21px;

    color: #FFFFFF;
}

.vk_log {
    width: 175px;
    display: flex;
    justify-content: space-around;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1279px) {
    .footer_wrapper {
        padding-bottom: 50px;
        text-align: center;
    }
}







